<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<a href="#"
  data-reflex="click->ExampleReflex#increment"
  data-step="1" 
  data-count="<%= @count.to_i %>"
>Increment <%= @count.to_i %></a>
